datastore/
datastore
**/__pycache__/

*.pyc
*.lyx~
*.lyx#
*.lyx.emergency
*.Rhistory
*.Rapp.history
*.DS_Store
*.aux
*.fls
*.lof
*.lot
*.nav
*.snm
*.toc
*.out
*.svn
*.ipynb
*.synctex.gz
*.bbl
*.blg
*.asv
*.pdfsync
*converted-to.pdf
*texput.log
*.synctex(busy)
*.synctex
.Rproj.user
